p {
	color: red;
}

.apple{
	color: blue;
}

.banana{
	color: yellow;
}

.coconut{
	color: white;
}

.date{
	color: brown;
}
	
.elderberry{
	color: purple;
}



/*GET THE FUCK OUT OF MY ROOM IM PLAYING MINECRAFT!!!!!!!!*/
